div {
    display: block;
}

.main {
    max-width: 1040px;
    margin: 0px auto;
}

body {
    background-color: #EFF6FF;
}

.left {
    float: left;
}

.left, .right {
    margin-top: 100px;
    width: 500px;
}

.right {
    float: right;
    padding-top: 50px;
    padding-left: 40px;

    color: #2A4A5C;
    background-color: white;
}

#img_main{
    position: relative;
}

#img_logo {
    position: relative;
    top: -640px;
    left: 30px;
    width: 100px;
}

.buttonRegister .inputText {
    display: flex;
}

.padding_for_inputText {
    margin-left: 20px;
}

.facebook,  .linkdel {
    width: 200px;
    height: 30px;
    color: white;
    font-size: 14px;
}

.buttonRegister img{
    width: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.facebook {
    background-color: #255A9B;
}

.linkdel {
    margin-left: 20px;
    background-color: #0076B6;
}

.facebook span, .linkdel span{
    padding-left: 5px;
}

.left img {
     width: 100%;
}

.space_for_or::after {
    content: "_____________"
}

.space_for_or::before {
    content: "_____________ "
}

.space_for_or {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 100px;
}

.information {
    margin-top: 20px;
    padding-bottom: 20px;
}

.inline {
    margin-right: 30px ;
	display: inline-block;
}

.inline img {
    width: 12px;
}

.text {
    color: grey;
    font-size: 15px;
}

.div_text {
    width: 250px;
    box-shadow: 0 0 5px;
    margin-top: 20px;
}

.div_text p {
    padding: 10px ;
}

.text a {
    color: rgb(105, 181, 253);
}

.button_create   {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(105, 181, 253);
}