
.wrapper {
    max-width: 1040px;
    margin: 0px auto;
    display: flex;
}

body {
    background-color: #EFF6FF;
}

.left, .right {
    margin: 100px 0 50px 0;
    width: 500px;
}

.right {
    padding: 50px 0 0 40px ;
    color: #2A4A5C;
    background-color:  rgb(255, 255, 255);
}

.button-Register .input-Text{
    display: flex;
}

.Input-Text-Phone, .Input-Text-Email {
    width: 190px;
    height: 30px;
}

.Input-Text-Phone {
    margin-left: 25px;
}

.facebook,  .linkdel {
    width: 200px;
    height: 30px;
    color: rgb(241, 241, 241);
    font-size: 14px;
}

.button-Register img{

    width: 15px;
    padding: 5px;
}

.facebook {
    background-color: #255A9B;
}

.linkdel {
    margin-left: 20px;
    background-color: #0076B6;
}

.linkdel img, .facebook img{
    vertical-align: middle;
}

.facebook span, .linkdel span{
    vertical-align: "middle";
    padding-left: 5px;
}

.left img {
     width: 100%;
}

.Div-or p{
    padding: 20px 0 30px 200px;
}

.information {
    margin-top: 20px;
    padding-bottom: 20px;
}

.inline {
    margin-right: 30px ;
	display: inline-block;
}

.inline img {
    width: 12px;
}

.checkbox-agree {
    color: rgb(133, 129, 129);
    font-size: 15px;
}

.div-text {
    width: 250px;
    box-shadow: 0 0 5px;
    margin-top: 20px;
}

.div-text p {
    padding: 10px ;
}

.checkbox-agree a {
    color: rgb(105, 181, 253);
}

.button-create   {
    margin: 20px 0 20px 0;
    border: none;
    width: 250px;
    height: 50px;
    color:  rgb(241, 241, 241);
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(105, 181, 253);
}