
body {
    margin: 0;
    background-color: #EFF6FF;
}

.content {
    display: flex;

    flex-direction: row;

    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.column-right {
    color: #2A4A5C;
    background-color: rgb(255, 255, 255);
    height: 620px;
    width: 440px;

    padding: 40px;
}

.container-image {
    position: relative;

    top: 0;
    left: 0;
}

.container-image__logo {
    position: absolute;

    top: 20px;
    left: 50px;

    width: 150px;
}

.container-image__background {
    background-size: 540px 700px;
    height: 700px;
    width: 540px;
}

.container-main__controller {
    display: flex;

    flex-direction: row;
    gap: 15px;

    width: 100%;
}

.button-register {
    display: flex;

    cursor: pointer;
    flex-direction: row;
    color: rgb(241, 241, 241);

    width: 100%;
    height: 30px;

    text-align: center;

    border: 0;
}

.form-input {
    width: 200px;
    height: 30px;
}

.button-register__title {
    line-height: 30px;
}

.button_type_facebook {
    background-color: #255A9B;
}

.button_type_linkdel {
    background-color: #0076B6;
}

.button-register__image {
    width: 20px;
    height: 20px;
    background-size: 40px;

    margin: 5px;
}

.container-main__solid {
    display: flex;

    justify-content: center;
}

.container-main__label_border {
    width: 15px;
}

.container-main__label_border::before {
    content: '';
    display: block;

    position: relative;

    width: 100px;
    height: 1px;

    left: 35px;
    top: 10px;

    background-color: black;
    opacity: 0.1;
}

.container-main__label_border::after {
    content: '';
    display: block;

    position: relative;

    width: 100px;
    height: 1px;

    right: 110px;
    bottom: 10px;

    background-color: black;
    opacity: 0.1;
}

.option-property__img {
    position: relative;

    top: 15px;
    left: 5px;

    width: 20px;
    height: 20px;
    background-size: 20px;
}

.option-property, .option-property__text, .module-agree {
    display: flex;

    flex-direction: row;
    cursor: pointer;
}

.button-create {
    border: none;
    cursor: pointer;

    width: 250px;
    height: 50px;

    color: rgb(241, 241, 241);
    font-size: 16px;

    border-radius: 5px;
    background-color: rgb(105, 181, 253);
}

.indent {
    margin-top: 20px;
}

.container-main__hint {
    width: 300px;

    box-shadow: 0 0 5px;

    padding: 4px;
}

.module-agree__label {
    margin-left: 10px;
}

.module-agree__link {
    color: #0076B6;
}
